<div class="container">
    <div class="alert alert-success" role="alert">
        期号：<strong>{$current_lottery['issue']}</strong>&nbsp;&nbsp;号码：<strong>{$current_lottery['whole']}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-header">

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.alert').alert('close');
    })
</script>