
</body>
</html>

<script src="__STATIC__/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="__STATIC__/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="__STATIC__/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
<script src="__STATIC__/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="__STATIC__/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob, Count To, Sparkline Js -->

<script src="__STATIC__/assets/bundles/mainscripts.bundle.js"></script>
<script src="__STATIC__/assets/js/pages/index.js"></script>

<script type="text/javascript">
$(function () {
    //$('.collapse').collapse();
})
</script>